body{
  margin:0;
  font-family:sans-serif;
  display:flex;
  background:#0f172a;
  color:white;
}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:#020617;
  height:100vh;
  transition:0.3s;
  overflow:hidden;
}

.sidebar.collapsed{
  width:60px;
}

.sidebar .logo{
  text-align:center;
  padding:20px;
  font-size:24px;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  padding:15px;
  cursor:pointer;
  display:flex;
  gap:10px;
}

.sidebar.collapsed span{
  display:none;
}

/* MAIN */
.main{
  flex:1;
  padding:20px;
}

/* TOPBAR */
.topbar{
  display:flex;
  gap:10px;
  align-items:center;
}

.topbar input{
  flex:1;
  padding:10px;
}

/* STATS */
.stats{
  display:flex;
  gap:20px;
  margin:20px 0;
}

/* FORM */
.form input, .form select{
  padding:10px;
  margin:5px;
}

button{
  padding:10px;
  cursor:pointer;
  background:#22c55e;
  border:none;
  border-radius:6px;
}

/* JOB CARD */
.job{
  background:#1e293b;
  padding:15px;
  margin:10px 0;
  border-radius:10px;}

/* STATUS COLORS */
.Applied{color:#3b82f6;}
.Interview{color:#facc15;}
.Rejected{color:#ef4444;}
.Offer{color:#22c55e;}

