body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  display:flex;
  background: linear-gradient(135deg,#0b1220,#020617);
  color:#e2e8f0;
}

/* SIDEBAR */
.sidebar{
  width:240px;
  background: rgba(15,23,42,0.9);
  backdrop-filter: blur(10px);
  height:100vh;
  transition:0.4s;
  box-shadow: 4px 0 20px rgba(0,0,0,0.4);
}

.sidebar.collapsed{width:70px;}

.logo{
  text-align:center;
  font-size:28px;
  padding:20px;
}

.sidebar li{
  padding:15px;
  display:flex;
  gap:12px;
  cursor:pointer;
  border-radius:10px;
  margin:5px;
  transition:0.3s;
}

.sidebar li:hover{
  background:linear-gradient(90deg,#6366f1,#8b5cf6);
  transform:translateX(5px);
}

.sidebar.collapsed span{display:none;}

/* MAIN */
.main{
  flex:1;
  padding:25px;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

/* TOPBAR */
.topbar{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.topbar input{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
}

.element.style{
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}


/* SECTION */
section{display:none;}
section.active{display:block;}

/* STATS */
.stats{
  display:flex;
  gap:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  flex:1;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

/* FORM */
.form input,.form select{
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
  background:#1e293b;
  color:white;
}

/* BUTTON */
button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:linear-gradient(135deg,#6366f1,#8b5cf6);
  color:white;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

/* FILTER */
.filters button{
  margin:5px;
}

/* KANBAN */
.kanban{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.column{
  flex:1;
  background:#0f172a;
  padding:15px;
  border-radius:15px;
  min-height:300px;
  box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.job{
  background:linear-gradient(135deg,#1e293b,#334155);
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  cursor:grab;
  transition:0.3s;
}

.job:hover{
  transform:scale(1.03);
}

/* FOOTER */
footer{
  margin-top:auto;
  text-align:center;
  opacity:0.5;
}

/* LIGHT MODE */
body.light{
  background:#f8fafc;
  color:black;
}

body.light .sidebar{
  background:#e2e8f0;
}

body.light .card,
body.light .column,
body.light .job{
  background:white;
}